@import "bootstrap/bootstrap";
@import "Ginkgo";
html {
	scroll-behavior: smooth;
	overflow-x: hidden;

	// @include range-width(0, 451px) {
	// 	overflow-y: hidden;
	// }
}

body {
    position: relative;

    display: inline-block;
    width: 100%;

    margin: 0;
    padding: 0;
    color: rgba(90, 90, 90, 1);

    font-size: medium;
    text-align: center;
    font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue,
        Helvetica, Arial, sans-serif;
		
    // 文字染色，背景色、文字色
    @include selection(rgba(120, 186, 255, 1), rgba(255, 255, 255, 1));
}

.no_scroll {
	overflow: hidden;
}

.loading_page {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
	background-color: rgba(92, 184, 213, 1.00);

	.loading_img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;


		picture {
			display: inline-block;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;

		.logo {
			position: relative;
		}

		.loading {
			margin-top: 2rem; 
			$colors: #7ef9ff, #89cff0, #4682b4, #0f52ba, #000080;
			display: flex;
			justify-content: center;
			align-items: center;

			@include range-width(0, 451px) {
				flex-direction: column;
			}

			.dots {
				display: flex;

				.dot {
					position: relative;
					width: 1.5rem;
					height: 1.5rem;
					margin: 0.8em;
					border-radius: 50%;
				
					&::before {
					  position: absolute;
					  left: 0;
					  content: "";
					  width: 100%;
					  height: 100%;
					  background: inherit;
					  border-radius: inherit;
					  animation: wave 2s ease-out infinite;
					}
				
					@for $i from 1 through 5 {
					  &:nth-child(#{$i}) {
						background: nth($colors, $i);
				
						&::before {
						  animation-delay: $i * 0.2s;
						}
					  }
					}
				}
	  
				@keyframes wave {
					50%,
					75% {
					transform: scale(2);
					}
				
					80%,
					100% {
					opacity: 0;
					}
				}
			}
			
			.submarine {
				position: relative;
				margin: 0 0 1rem 1rem;
				opacity: 0;
				animation: name duration timing-function delay iteration-count direction fill-mode;
				animation: show 1s ease-out 2s 1 normal forwards;
				
				@include range-width(0, 451px) {
					margin: 1rem 0 0 0;
				}
				
				picture {
					display: inline-block;
					width: 120px;

					img {
						width: 100%;
						transform: rotateY(180deg);
					}
				}

				@keyframes show {
					0% {
						opacity: 0;
					}
				
					100% {
						opacity: 1;
					}
				}
			}
		}

		.copy {
			position: absolute;
			bottom: 2rem;
			
			p {
				font-size: 12px;
				color: white;

				span {
					@include range-width(0, 451px) {
						display: block;
					}
				}
			}
		}
		  
		 
	}
}

.wrapper {
	position: relative;
	@include range-width(0, 451px) {
		overflow-x: hidden;
	}
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		top: 2rem;
		left: calc(50% - 1320px / 2);
		width: 100%;
		max-width: 1320px;
		z-index: 1;

		@include range-width(769px, 1025px) {
			max-width: 960px;
			left: calc(50% - 960px / 2);
		}

		@include range-width(0, 769px) {
			top: 0;
			left: 0;
			margin: 1rem 0 0 1rem;
			width: calc(100% - 1rem);
		}

		.logo {
			display: flex;
			justify-content: flex-start;
		}

		.menu {
			
			ul {
				display: flex;
				justify-content: space-between;
				margin-bottom: 0;
				padding-left: 0;
				list-style: none;

				li {

					> a {
						color: #56cde9;
						text-decoration: none;
					}

				}
			}
		}
	}

	.seascape {
		position: relative;

		.ice {
			> picture {
				display: inline-block;
				width: 100vw;
				height: 100vh;

				> img {
					display: inline-block;
					width: 100vw;
					height: 100vh;
				}
			}
		}

		.ice-icon-items {
			position: absolute;
			top: 0;
			// right: 0;
			// bottom: 0;
			// left: 0;
			width: 100%;
			height: 100%;

			.ice-icon-item {
				position: absolute;
				width: 60px;
				height: 90px;
				cursor: pointer;

				@include range-width(0, 451px) {
					width: 40px;
					height: 70px;
				}

				&:hover {
					.pop_content, .pop_arrow {
						opacity: 1;
						// pointer-events: initial;
					}
				}

				&.fade_in {
					opacity: 0;
					animation-name: fade_in;
					animation-duration: 2s;
					animation-fill-mode: both;
				}
				.pop_content {
					/* Invisible by default */
					opacity: 0;

					/* To prevent accidental interactions with other elements  */
					pointer-events: none;

					/* Background color, must be the same as the border color of arrow */
					background-color: rgba(60, 102, 251, 1.00);
					border-radius: 5px;
					color: white;
					width: auto;
					white-space: nowrap;
					padding: 15px 30px;

					/* Position */
					bottom: 110%;
					left: 100%;
					position: absolute;
					transform: translate(-50%, -8px);

					/* Displayed on top of other element */
					z-index: 10;

					@include range-width(0, 451px) {
						opacity: 1;
						padding: 2px 15px;
						bottom: calc(50% - 12.5px);
						left: 80%;
						transform: translate(0, -12.5px);
						z-index: -1;
						border-radius: 2px;
						font-size: 14px;
					}
				}
				.pop_arrow {
					/* Invisible by default */
					opacity: 0;

					/* To prevent accidental interactions with other elements  */
					pointer-events: none;

					/* Border */
					border: 8px solid transparent;
					border-top-color: rgba(60, 102, 251, 1.00);

					/* Position */
					bottom: 110%;
					left: 100%;
					position: absolute;
					transform: translate(-50%, 8px);

					/* Zero size */
					height: 0;
					width: 0;

					/* Displayed on top of other element */
					z-index: 10;    
				}
		
				@keyframes fade_in {
					form {
						opacity: 0;
					}
		
					to {
						opacity: 1;
					}
		
				}
			}

			
		}

		.ice-up, .ice-down {
			display: none;
			@include range-width(0, 769px) {
				position: absolute;
				width: 100vw;
				display: flex;
				flex-direction: column;
				justify-content: center;

				&.ice-up {
					top: 5%;
				}

				&.ice-down {
					bottom: 7%;
				}
			
				figure {
					margin: 0;

					img {
						width: 50px;
						height: 50px;
					} 

					figcaption {
						margin-top: .5rem;
						color: white;
					}
				}
			}
			
		}
		
		.bubble {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;

			&.b1 {
				top: 50%;
				left: 10%;

				> li {
					animation: bubble-b1 10s linear infinite;

					&:nth-of-type(1) {
						width: 5px;
						height: 5px;
						top: 20px;
						left: 0;
		
					}
		
					&:nth-of-type(2) {
						width: 10px;
						height: 10px;
						top: 0;
						left: 20px;
						animation-duration: 13s;
						animation-delay: 2s;
					}
		
					&:nth-of-type(3) {
						width: 15px;
						height: 15px;
						top: 30px;
						left: 10px;
						animation-duration: 9s;
						animation-delay: 3.5s;
					}
		
					&:nth-of-type(4) {
						width: 18px;
						height: 18px;
						top: -30px;
						left: 0;
						animation-duration: 4s;
						animation-delay: 1.5s;
					}
		
					&:nth-of-type(5) {
						width: 20px;
						height: 20px;
						top: 15px;
						left: 40px;
						animation-duration: 8s;
						animation-delay: 2s;
					}
				}
			}

			&.b2 {
				top: 70%;
				left: 80%;

				> li {
					animation: bubble-b1 12s linear infinite;

					&:nth-of-type(1) {
						width: 20px;
						height: 20px;
						top: 10px;
						left: 0;
						animation-delay: 2s;
					}
		
					&:nth-of-type(2) {
						width: 18px;
						height: 18px;
						top: 20px;
						left: 20px;
						animation-duration: 10s;
						animation-delay: .5s;
					}
		
					&:nth-of-type(3) {
						width: 10px;
						height: 10px;
						top: 0;
						left: 15px;
						animation-duration: 8s;
						animation-delay: 3.5s;
					}
		
					&:nth-of-type(4) {
						width: 15px;
						height: 15px;
						top: -20px;
						left: 30px;
						animation-duration: 15s;
						animation-delay: 1.5s;
					}
		
					&:nth-of-type(5) {
						width: 5px;
						height: 5px;
						top: 15px;
						left: 40px;
						animation-duration: 7s;
					}
				}
			}

			&.b3 {
				top: 70%;
				left: 15%;

				> li {
					animation: bubble-b1 13s linear infinite;

					&:nth-of-type(1) {
						width: 10px;
						height: 10px;
						top: 10px;
						left: 0;
						animation-delay: 2.5s;
					}
		
					&:nth-of-type(2) {
						width: 15px;
						height: 15px;
						top: 20px;
						left: 20px;
						animation-duration: 11s;
						animation-delay: 2s;
					}
		
					&:nth-of-type(3) {
						width: 5px;
						height: 5px;
						top: 0;
						left: 15px;
						animation-duration: 7s;
						animation-delay: 1s;
					}
		
					&:nth-of-type(4) {
						width: 18px;
						height: 18px;
						top: -20px;
						left: 30px;
						animation-duration: 10s;
					}
		
					&:nth-of-type(5) {
						width: 20px;
						height: 20px;
						top: 15px;
						left: 40px;
						animation-duration: 16s;
						animation-delay: 1.5s;
						
					}
				}
			}

			&.b4 {
				top: 20%;
				left: 10%;

				> li {
					animation: bubble-b1 10s linear infinite;	
				}
			}

			&.b5 {
				top: 10%;
				left: 90%;

				> li {
					animation: bubble-b1 13s linear infinite;

					&:nth-of-type(1) {
						width: 20px;
						height: 20px;
						top: 10px;
						left: 0;
						animation-delay: 2s;
					}
		
					&:nth-of-type(2) {
						width: 18px;
						height: 18px;
						top: 20px;
						left: 20px;
						animation-duration: 13s;
						animation-delay: .5s;
					}
		
					&:nth-of-type(3) {
						width: 10px;
						height: 10px;
						top: 0;
						left: 15px;
						animation-duration: 18s;
						animation-delay: 3.5s;
					}
		
					&:nth-of-type(4) {
						width: 15px;
						height: 15px;
						top: -20px;
						left: 30px;
						animation-duration: 23s;
						animation-delay: 1.5s;
					}
		
					&:nth-of-type(5) {
						width: 5px;
						height: 5px;
						top: 15px;
						left: 40px;
						animation-duration: 16s;
					}
				}
			}

			&.b6 {
				top: 90%;
				left: 2%;

				> li {
					animation: bubble-b1 12s linear infinite;

					&:nth-of-type(1) {
						width: 20px;
						height: 20px;
						top: 10px;
						left: 0;
						animation-delay: 2s;
					}
		
					&:nth-of-type(2) {
						width: 18px;
						height: 18px;
						top: 20px;
						left: 20px;
						animation-duration: 10s;
						animation-delay: .5s;
					}
		
					&:nth-of-type(3) {
						width: 10px;
						height: 10px;
						top: 0;
						left: 15px;
						animation-duration: 8s;
						animation-delay: 3.5s;
					}
		
					&:nth-of-type(4) {
						width: 15px;
						height: 15px;
						top: -20px;
						left: 30px;
						animation-duration: 15s;
						animation-delay: 1.5s;
					}
		
					&:nth-of-type(5) {
						width: 5px;
						height: 5px;
						top: 15px;
						left: 40px;
						animation-duration: 7s;
					}
				}	
			}

			> li {
				position: absolute;
				list-style: none;
				display: block;
				-webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
				-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
				box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
				
				// animation: bubble-b1 20s linear infinite;
				border-radius: 100%;
				opacity: 0;
	
				&:nth-of-type(1) {
					width: 5px;
					height: 5px;
					top: 20px;
					left: 0;
	
				}
	
				&:nth-of-type(2) {
					width: 10px;
					height: 10px;
					top: 0;
					left: 20px;
					animation-duration: 13s;
					animation-delay: 2s;
				}
	
				&:nth-of-type(3) {
					width: 15px;
					height: 15px;
					top: 30px;
					left: 10px;
					animation-duration: 18s;
					animation-delay: 3.5s;
				}
	
				&:nth-of-type(4) {
					width: 18px;
					height: 18px;
					top: -30px;
					left: 0;
					animation-duration: 23s;
					animation-delay: 1.5s;
				}
	
				&:nth-of-type(5) {
					width: 20px;
					height: 20px;
					top: 15px;
					left: 40px;
					animation-duration: 16s;
					animation-delay: 2s;
				}
	
				&:nth-of-type(6) {
					width: 25px;
					height: 25px;
					left: 60%;
					animation-duration: 16s;
					animation-delay: 2s;
				}
	
				&:nth-of-type(7) {
					width: 30px;
					height: 30px;
					left: 70%;
					animation-duration: 16s;
					animation-delay: 2s;
				}
	
				@keyframes bubble-b1 {
					0% {
						-webkit-transform: translateY(0) translateX(0);
						transform: translateY(0) translateX(0);
						opacity: .6;
					}

					25% {
						-webkit-transform: translateY(0) translateX(10px);
						transform: translateY(-25px) translateX(10px);
						opacity: .4;	
					}

					50% {
						-webkit-transform: translateY(0) translateX(0px);
						transform: translateY(-50px) translateX(0px);
						opacity: .2;	
					}

					75% {
						-webkit-transform: translateY(0) translateX(-10px);
						transform: translateY(-75px) translateX(-10px);
						opacity: .1;	
					}
	
					100% {
						-webkit-transform: translateY(-100px) translateX(0);
						transform: translateY(-100px) translateX(0);
						opacity: 0;

					}
				}
	
				@keyframes bubble-ani2 {
					0% {
						-webkit-transform: translateY(0);
						transform: translateY(0);
					}
	
					100% {
						-webkit-transform: translateY(-220vh);
						transform: translateY(-220vh);
					}
				}
			}
		}

		.fishes {
			position: absolute;
			transform: scale(.7) rotate(180deg);
			opacity: .4;
			animation: swim 20s;
			-webkit-animation: swim 20s;
			animation-iteration-count: infinite;
			-webkit-animation-iteration-count: infinite;
			animation-timing-function: linear;
			-webkit-animation-timing-function: linear;

			@include range-width(0, 769px) {
				display: none;
			}

			&.to_right {
				transform: scale(.7);	
				animation: swim2 20s;
				-webkit-animation: swim2 20s;
				animation-iteration-count: infinite;
				-webkit-animation-iteration-count: infinite;
				animation-timing-function: linear;
				-webkit-animation-timing-function: linear;
			}

			&.f1 {
				top: 25%;
				left: 3%;
			}

			&.f2 {
				top: 60%;
				left: 75%;
				animation-duration: 18s;
				-webkit-animation-duration: 18s;
			}

			&.f3 {
				top: 15%;
				left: 80%;
				animation-duration: 12s;
				-webkit-animation-duration: 12s;
			}

			&.f4 {
				top: 80%;
				left: 10%;
				animation-duration: 15s;
				-webkit-animation-duration: 15s;
			}

			&.f5 {
				top: 15%;
				left: 10%;
				opacity: 1;
				animation-duration: 15s;
				-webkit-animation-duration: 15s;
			}

			&.f6 {
				top: 30%;
				left: 65%;
				opacity: 1;
				animation-duration: 20s;
				-webkit-animation-duration: 20s;
			}

			&.f7 {
				top: 80%;
				left: 45%;
				opacity: 1;
				animation-duration: 10s;
				-webkit-animation-duration: 10s;
			}

			&.f8 {
				top: 40%;
				left: 25%;
				opacity: 1;
				animation-duration: 13s;
				-webkit-animation-duration: 13s;
			}

			@-webkit-keyframes swim
			{
				// 0% {margin-left: -235px}
				0% {margin-left: 0px; opacity: .4;}
				90% {margin-left: -4%; opacity: .4;}
				100% {margin-left: -5%; opacity: 0;}
				
			}

			@keyframes swim
			{
				0% {margin-left: 0px; opacity: .4;}
				90% {margin-left: -4%; opacity: .4;}
				100% {margin-left: -5%; opacity: 0;}
			}

			@-webkit-keyframes swim2
			{
				0% {margin-left: 0px; opacity: .4;}
				90% {margin-left: 4%; opacity: .4;}
				100% {margin-left: 5%; opacity: 0;}
				
			}

			@keyframes swim2
			{
				0% {margin-left: 0px; opacity: .4;}
				90% {margin-left: 4%; opacity: .4;}
				100% {margin-left: 5%; opacity: 0;}
			}

			svg .fish1,
			svg .fish2,
			svg .fish3,
			svg .fish4,
			svg .fish5,
			svg .fish6 {
				// fill: rgba(107, 194, 236, 1.00) !important;
				-moz-animation: bounce 2s infinite;
				-webkit-animation: bounce 2s infinite;
				animation: bounce 2s infinite;
				// z-index: 0;
			}

			svg .fish2{
				animation-delay: 0.5s;
				-webkit-animation-delay: 0.5s;
			}
			
			svg .fish3{
				animation-delay: 0.2s;
				-webkit-animation-delay: 0.2s;
			}
			
			svg .fish4{
				animation-delay: 0.4s;
				-webkit-animation-delay: 0.4s;
			}
			
			svg .fish5{
				animation-delay: 0.1s;
				-webkit-animation-delay: 0.1s;
			}
			
			svg .fish6{
				animation-delay: 0.3s;
				-webkit-animation-delay: 0.3s;
			}

			@-moz-keyframes bounce {
				0%, 50%, 100% {
				  -moz-transform: translateY(0);
				  transform: translateY(0);
				}
				25% {
				  -moz-transform: translateY(-5px);
				  transform: translateY(-5px);
				}
				75% {
				  -moz-transform: translateY(-3px);
				  transform: translateY(-3px);
				}
			  }
			  @-webkit-keyframes bounce {
				0%, 50%, 100% {
				  -webkit-transform: translateY(0);
				  transform: translateY(0);
				}
				25% {
				  -webkit-transform: translateY(-5px);
				  transform: translateY(-5px);
				}

				75% {
				  -webkit-transform: translateY(-3px);
				  transform: translateY(-3px);
				}
			  }
			  @keyframes bounce {
				0%, 50%, 100% {
				  -moz-transform: translateY(0);
				  -ms-transform: translateY(0);
				  -webkit-transform: translateY(0);
				  transform: translateY(0);
				}
				25% {
				  -moz-transform: translateY(-5px);
				  -ms-transform: translateY(-5px);
				  -webkit-transform: translateY(-5px);
				  transform: translateY(-5px);
				}
				75% {
				  -moz-transform: translateY(-3px);
				  -ms-transform: translateY(-3px);
				  -webkit-transform: translateY(-3px);
				  transform: translateY(-3px);
				}
			  }
			  
			  /*END Fish Animation*/
		}
	}

	.side_nav {
		position: fixed;
		top: calc(50% - 200px / 2);
		right: 2rem;

		@include range-width(0, 451px) {
			display: none;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				cursor: pointer;

				&:nth-of-type(2) {
					margin: 25px 0;
				}

				&.active, &:hover {
					border: 1px solid #cbecf1;

					> a {
						width: 10px;
						height: 10px;
					}
				}

				> a {
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background-color: #1875b6;
				}
			}
		}
	}

	.submarine {
		position: fixed;
		right: 10%;
		bottom: 11%;

		@include range-width(0, 451px) {
			bottom: 16%;
			width: 120px;
			height: 41px;

			img {
				width: 100%;
			}
		}

		&.submarine_down {
			animation-name: submarine_down;
			animation-duration: 2s;
			animation-fill-mode: both;
		}

		&.submarine_up {
			animation-name: submarine_up;
			animation-duration: 2s;
			animation-fill-mode: both;
		}

		&.submarine_in {
			opacity: 0;
			animation-name: submarine_in;
			animation-duration: 2s;
			animation-fill-mode: both;
		}

		@keyframes submarine_in {
			form {
				opacity: 0;
			}

			to {
				opacity: 1;
			}

		}

		@keyframes submarine_up {
			form {
				transform: rotate(0);
				opacity: 1;
			}

			50% {
				transform: rotate(20deg);	
			}

			to {
				transform: translateX(-100px) translateY(-100px);
				opacity: 0;
			}
		}

		@keyframes submarine_down {
			form {
				transform: rotate(0);
				opacity: 1;
			}

			50% {
				transform: rotate(-20deg);	
			}

			to {
				transform: translateX(-100px) translateY(100px);
				opacity: 0;
			}
		}		
	}
}
