@import "bootstrap/bootstrap";
@import "Ginkgo";
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
    position: relative;

    display: inline-block;
    width: 100%;

    margin: 0;
    padding: 0;
    color: rgba(90, 90, 90, 1);

    font-size: medium;
    text-align: center;
    font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue,
        Helvetica, Arial, sans-serif;
		
    // 文字染色，背景色、文字色
    @include selection(rgba(120, 186, 255, 1), rgba(255, 255, 255, 1));
}

.wrapper {
	position: relative;
	
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: absolute;
		top: 2rem;
		left: calc(50% - 1320px / 2);
		width: 100%;
		max-width: 1320px;
		z-index: 1;

		@include range-width(769px, 1025px) {
			max-width: 960px;
			left: calc(50% - 960px / 2);
		}

		.logo {
			display: flex;
			justify-content: flex-start;
		}

		.menu {
			
			ul {
				display: flex;
				justify-content: space-between;
				margin-bottom: 0;
				padding-left: 0;
				list-style: none;

				li {

					> a {
						color: #56cde9;
						text-decoration: none;
					}

				}
			}
		}
	}

	.seascape {
		position: relative;

		.ice {
			> picture {
				display: inline-block;
				width: 100vw;
				height: 100vh;

				> img {
					width: 100vw;
					height: 100vh;
				}
			}
		}
		.ice-icon-items {
			position: absolute;
			top: 0;
			// right: 0;
			// bottom: 0;
			// left: 0;
			width: 100%;
			height: 100%;

			.ice-icon-item {
				position: absolute;
				

				&.t1 {
					top: 73%;
					left: 13%;
				}

				&.t2 {
					top: 66%;
					left: 25%;
				}
				
				&.t3 {
					top: 32%;
					left: 46.5%;
				}

				&.t4 {
					top: 45%;
					left: 65.5%;
				}

				&.t5 {
					top: 65%;
					left: 75%;
				}

				&.m1 {
					top: 55%;
					left: 30%;
				}

				&.m2 {
					top: 24%;
					left: 32%;
				}
				
				&.m3 {
					top: 83%;
					left: 40%;
				}

				&.m4 {
					top: 16%;
					left: 55%;
				}

				&.m5 {
					top: 72%;
					left: 60%;
				}

				&.b1 {
					top: 60%;
					left: 15%;
				}

				&.b2 {
					top: 70%;
					left: 35%;
				}
				
				&.b3 {
					top: 31%;
					left: 44.5%;
				}

				&.b4 {
					top: 13%;
					left: 52%;
				}

				&.b5 {
					top: 68%;
					left: 60%;
				}

				&.fade_in {
					opacity: 0;
					animation-name: fade_in;
					animation-duration: 2s;
					animation-fill-mode: both;
				}
		
				@keyframes fade_in {
					form {
						opacity: 0;
					}
		
					to {
						opacity: 1;
					}
		
				}
			}

			
		}
		
		.bubble {
			position: absolute;
			top: 0;
			left: 0;

			&.b1 {
				top: 50%;
				left: 10%;

				> li {
					animation: bubble-b1 10s linear infinite;

					&:nth-of-type(1) {
						width: 5px;
						height: 5px;
						top: 20px;
						left: 0;
		
					}
		
					&:nth-of-type(2) {
						width: 10px;
						height: 10px;
						top: 0;
						left: 20px;
						animation-duration: 13s;
						animation-delay: 2s;
					}
		
					&:nth-of-type(3) {
						width: 15px;
						height: 15px;
						top: 30px;
						left: 10px;
						animation-duration: 9s;
						animation-delay: 3.5s;
					}
		
					&:nth-of-type(4) {
						width: 18px;
						height: 18px;
						top: -30px;
						left: 0;
						animation-duration: 4s;
						animation-delay: 1.5s;
					}
		
					&:nth-of-type(5) {
						width: 20px;
						height: 20px;
						top: 15px;
						left: 40px;
						animation-duration: 8s;
						animation-delay: 2s;
					}
				}
			}

			&.b2 {
				top: 70%;
				left: 80%;

				> li {
					animation: bubble-b1 12s linear infinite;

					&:nth-of-type(1) {
						width: 20px;
						height: 20px;
						top: 10px;
						left: 0;
						animation-delay: 2s;
					}
		
					&:nth-of-type(2) {
						width: 18px;
						height: 18px;
						top: 20px;
						left: 20px;
						animation-duration: 10s;
						animation-delay: .5s;
					}
		
					&:nth-of-type(3) {
						width: 10px;
						height: 10px;
						top: 0;
						left: 15px;
						animation-duration: 8s;
						animation-delay: 3.5s;
					}
		
					&:nth-of-type(4) {
						width: 15px;
						height: 15px;
						top: -20px;
						left: 30px;
						animation-duration: 15s;
						animation-delay: 1.5s;
					}
		
					&:nth-of-type(5) {
						width: 5px;
						height: 5px;
						top: 15px;
						left: 40px;
						animation-duration: 7s;
					}
				}
			}

			&.b3 {
				top: 70%;
				left: 15%;

				> li {
					animation: bubble-b1 13s linear infinite;

					&:nth-of-type(1) {
						width: 10px;
						height: 10px;
						top: 10px;
						left: 0;
						animation-delay: 2.5s;
					}
		
					&:nth-of-type(2) {
						width: 15px;
						height: 15px;
						top: 20px;
						left: 20px;
						animation-duration: 11s;
						animation-delay: 2s;
					}
		
					&:nth-of-type(3) {
						width: 5px;
						height: 5px;
						top: 0;
						left: 15px;
						animation-duration: 7s;
						animation-delay: 1s;
					}
		
					&:nth-of-type(4) {
						width: 18px;
						height: 18px;
						top: -20px;
						left: 30px;
						animation-duration: 10s;
					}
		
					&:nth-of-type(5) {
						width: 20px;
						height: 20px;
						top: 15px;
						left: 40px;
						animation-duration: 16s;
						animation-delay: 1.5s;
						
					}
				}
			}

			&.b4 {
				top: 20%;
				left: 15%;

				> li {
					animation: bubble-b1 10s linear infinite;	
				}
			}

			&.b5 {
				top: 40%;
				left: 70%;

				> li {
					animation: bubble-b1 13s linear infinite;

					&:nth-of-type(1) {
						width: 20px;
						height: 20px;
						top: 10px;
						left: 0;
						animation-delay: 2s;
					}
		
					&:nth-of-type(2) {
						width: 18px;
						height: 18px;
						top: 20px;
						left: 20px;
						animation-duration: 13s;
						animation-delay: .5s;
					}
		
					&:nth-of-type(3) {
						width: 10px;
						height: 10px;
						top: 0;
						left: 15px;
						animation-duration: 18s;
						animation-delay: 3.5s;
					}
		
					&:nth-of-type(4) {
						width: 15px;
						height: 15px;
						top: -20px;
						left: 30px;
						animation-duration: 23s;
						animation-delay: 1.5s;
					}
		
					&:nth-of-type(5) {
						width: 5px;
						height: 5px;
						top: 15px;
						left: 40px;
						animation-duration: 16s;
					}
				}
			}

			> li {
				position: absolute;
				list-style: none;
				display: block;
				-webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
				-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
				box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
				
				// animation: bubble-b1 20s linear infinite;
				border-radius: 100%;
				opacity: 0;
	
				&:nth-of-type(1) {
					width: 5px;
					height: 5px;
					top: 20px;
					left: 0;
	
				}
	
				&:nth-of-type(2) {
					width: 10px;
					height: 10px;
					top: 0;
					left: 20px;
					animation-duration: 13s;
					animation-delay: 2s;
				}
	
				&:nth-of-type(3) {
					width: 15px;
					height: 15px;
					top: 30px;
					left: 10px;
					animation-duration: 18s;
					animation-delay: 3.5s;
				}
	
				&:nth-of-type(4) {
					width: 18px;
					height: 18px;
					top: -30px;
					left: 0;
					animation-duration: 23s;
					animation-delay: 1.5s;
				}
	
				&:nth-of-type(5) {
					width: 20px;
					height: 20px;
					top: 15px;
					left: 40px;
					animation-duration: 16s;
					animation-delay: 2s;
				}
	
				&:nth-of-type(6) {
					width: 25px;
					height: 25px;
					left: 60%;
					animation-duration: 16s;
					animation-delay: 2s;
				}
	
				&:nth-of-type(7) {
					width: 30px;
					height: 30px;
					left: 70%;
					animation-duration: 16s;
					animation-delay: 2s;
				}
	
				@keyframes bubble-b1 {
					0% {
						-webkit-transform: translateY(0) translateX(0);
						transform: translateY(0) translateX(0);
						opacity: .6;
					}

					25% {
						-webkit-transform: translateY(0) translateX(10px);
						transform: translateY(-25px) translateX(10px);
						opacity: .4;	
					}

					50% {
						-webkit-transform: translateY(0) translateX(0px);
						transform: translateY(-50px) translateX(0px);
						opacity: .2;	
					}

					75% {
						-webkit-transform: translateY(0) translateX(-10px);
						transform: translateY(-75px) translateX(-10px);
						opacity: .1;	
					}
	
					100% {
						-webkit-transform: translateY(-100px) translateX(0);
						transform: translateY(-100px) translateX(0);
						opacity: 0;

					}
				}
	
				@keyframes bubble-ani2 {
					0% {
						-webkit-transform: translateY(0);
						transform: translateY(0);
					}
	
					100% {
						-webkit-transform: translateY(-220vh);
						transform: translateY(-220vh);
					}
				}
			}
		}
	}

	.side_nav {
		position: fixed;
		top: calc(50% - 200px / 2);
		right: 2rem;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				cursor: pointer;

				&:nth-of-type(2) {
					margin: 25px 0;
				}

				&.active, &:hover {
					border: 1px solid #cbecf1;

					> a {
						width: 10px;
						height: 10px;
					}
				}

				> a {
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background-color: #1875b6;
				}
			}
		}
	}

	.submarine {
		position: fixed;
		right: 10%;
		bottom: 11%;

		&.submarine_down {
			animation-name: submarine_down;
			animation-duration: 2s;
			animation-fill-mode: both;
		}

		&.submarine_up {
			animation-name: submarine_up;
			animation-duration: 2s;
			animation-fill-mode: both;
		}

		&.submarine_in {
			opacity: 0;
			animation-name: submarine_in;
			animation-duration: 2s;
			animation-fill-mode: both;
		}

		@keyframes submarine_in {
			form {
				opacity: 0;
			}

			to {
				opacity: 1;
			}

		}

		@keyframes submarine_up {
			form {
				transform: rotate(0);
				opacity: 1;
			}

			50% {
				transform: rotate(20deg);	
			}

			to {
				transform: translateX(-100px) translateY(-100px);
				opacity: 0;
			}
		}

		@keyframes submarine_down {
			form {
				transform: rotate(0);
				opacity: 1;
			}

			50% {
				transform: rotate(-20deg);	
			}

			to {
				transform: translateX(-100px) translateY(100px);
				opacity: 0;
			}
		}		
	}
}
